<!DOCTYPE html>
<html lang="en">
<%- include('../partial/head') %>
<body>
    <%- include('../partial/header') %>
    <main>
        <form action="" method="get" class="forms-register"> 
            <h2 class="titulo-register">Ingreso de producto</h2>
            
            <label for="producto" class="label-register">Nombre del producto</label>
            
            <input type="text" placeholder="producto" name="producto" id="producto" class="input-register">
            
            <label for="precio" class="label-register" >Precio</label>
            
            <input type="number" name="precio" id="precio"placeholder="$10.000" class="input-register">
            
            <label for="categoria" class="label-register" >Categoria</label>
            
            <input type="text"  name="categoria" id="categoria"  class="input-register">
            
            <label for="marca" class="label-register" >Marca</label>
            
            <input type="text" placeholder="AMD" name="marca" id="marca" class="input-register">
            
            <label for="modelo" class="label-register" >Modelo</label>
            
            <input type="text" placeholder="AMD" name="modelo" id="modelo" class="input-register">
            
            <label for="fotoDeProducto" class="label-register" >Fotos del producto</label>
            
            <input type="file"  name="fotoDelProducto" id="fotoDeProducto" class="input-register" accept=".png, .jpg">
            
            <label for="cantidadDeProductos" class="label-register" >Cantidad de productos disponibles</label>
            
            <input type="number" name="cantidadDeProductos" id="cantidadDeProductos" class="input-register">
            
            <label for="descripcion" class="label-register" >Descripcion</label>
            
            <textarea name="descripcion" name="descripcion" id="descripcion" class="input-register" placeholder="agrega una descripcion"> 
            </textarea>  
            
            <div class="div-button-register">
                <button type="submit" class="button-register-submit">Publicar producto</button>
                <button type="reset" class="button-register-reset">Cancelar</button>
            </div>
        </form>
    </div>
    </main>
    <%- include('../partial/footer') %>
</body>
</html>