<!DOCTYPE html>
<html>
    <%- include('../partial/head') %>
    <body>
        <%- include('../partial/header',{...dataBasic}) %>
        <main class="main main-register">
            <div class="div-forms-register">
                <form action="" method="get" class="forms-register"> 
                    <h2 class="titulo-register">Registro De Usuario</h2>
                    <label for="correo" class="label-register">Ingrese su correo</label>

                    <input type="email" placeholder="ejemplo@gmail.com" name="correo" id="correo" class="input-register">
                    
                    <label for="password" class="label-register" >Ingrese una contraseña</label>
                    
                    <input type="password" name="password" id="password" placeholder="MiContraseña123" class="input-register">
                    
                    <label for="password2" class="label-register" >Confirmar contraseña</label>
                    
                    <input type="password" placeholder="MiContraseña123" name="password2" id="password2" required class="input-register">
                    
                    <label for="usuario" class="label-register" >Ingrese nombre de usuario</label>
                    
                    <input type="text" placeholder="usuario01" name="usuario" id="usuario" class="input-register">
                    
                    <label for="nombre" class="label-register" >Ingrese su nombre</label>
                    
                    <input type="text" placeholder="Matías" name="nombre" id="nombre" class="input-register">
                    
                    <label for="apellido" class="label-register" >Ingrese su apellido</label>
                    
                    <input type="text" placeholder="Espíndola" name="apellido" id="apellido" class="input-register">
                    
                    <label for="DNI" class="label-register" >Ingrese su DNI</label>
                    
                    <input type="number" placeholder="12.345.678"name="DNI" id="DNI" class="input-register">
                    
                    <label for="telefono" class="label-register">Ingrese su número de telefono</label>
                    
                    <input type="number" name="telefono" id="telefono" class="input-register" placeholder="11-2345-6789">
                    
                    <div class="div-button-register">
                        <button type="submit" class="btn-mas-menos button-register-submit">Registrarse</button>
                        <button type="reset" class="btn-mas-menos button-register-reset">Cancelar</button>
                    </div>
                </form>
            </div>
        </main>
        <%- include('../partial/footer') %>
    </body>
</html>