#id-footer{
    border-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#399AA7 10%, #088192 21%,#055A66 65%);
}

.footer-block{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1.5rem 0;
    justify-content: center;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    li{
        width: 100%;
        text-align: center;
        transform: all 0.5s ease;
        a{
            font-size: 1.5rem;
            text-decoration: none;
            color: black;
        }
    }
}
.truck-h4-fb1{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    /* border-bottom: 1px solid black; */
    h4{
        /* font: 40px 'sans-serif'; */
        width: auto;
        text-transform: uppercase;
        font-weight: bolder;
    }
}
.fa-solid.fa-truck-fast{
    font-size: 1.6rem;
}

.subtitle-footer{
    width: 100%;
    font-size: 2rem;
    text-align: center;
    text-decoration: 0.2rem underline ;
    text-transform: uppercase;
    font-weight: bolder;
}
.credit-cards-footer{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 1.5rem;
}
.fa-solid.fa-solid.fa-credit-card{
    font-size: 2rem ;
}
.fa-brands.fa-cc-visa{
    font-size: 2rem;
}
.fa-brands.fa-cc-mastercard{
    font-size: 2rem;
}
.fa-brands.fa-cc-amex{
    font-size: 2rem;
}
.fa-brands.fa-cc-paypal{
    font-size: 2rem;
}
.fa-solid.fa-lock{
    font-size: 2rem;
}
.button-footer-arrepentimiento{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    width: 50%;
    border: solid 0.1rem black;
}
.fa-solid.fa-envelope{
    font-size: 2rem;
}

.icons-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 2.5rem;
        a{
            font-size: 1.5rem;
            text-align: center;
            text-decoration: none;
            color: black;
            padding: 1rem;
        }
    } 

.fa-solid.fa-phone{
        font-size: 1.6rem;
}
.fa-brands.fa-whatsapp{
        font-size: 1.6rem;
}
.fa-brands.fa-instagram{
    font-size: 1.6rem;
}

    .copyright{
    padding: 10px;
    font-size: 1.5rem;
    /* font: 30px 'sans-serif'; */
    /* color: #3a3a3ac6; */
    color: black;
}


h6{
    width: 100%;
    text-align: center;
}

/* ----- Hover - Active -----  */

ul:active{
    a:active{
        text-decoration: underline;
    }
}