#id-footer {
    background: linear-gradient(#399AA7 10%, #088192 21%, #055A66 65%);
    padding: 1rem;
}

.block-padre {
    border-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer-block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1.5rem 0;
    justify-content: center;
}

.footer-block2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1.5rem 0;
    justify-content: center;
}

.footer-block3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1.5rem 0;
    justify-content: center;
}

.footer-block4 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1.5rem 0;
    justify-content: center;
}

.footer-block5 {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 1.5rem;
    padding: 1.5rem 0;
    flex-direction: column;
    align-items: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.li-info-footer {
    width: 100%;
    text-align: center;
    transform: all 0.5s ease;
}

.a-info-footer {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

.truck-h4-fb1 {
    /* width: 90%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;

    /* border-bottom: 1px solid black; */
    h4 {
        /* font: 40px 'sans-serif'; */
        width: auto;
        text-transform: uppercase;
        font-weight: bolder;
    }
}

.fa-solid.fa-truck-fast {
    font-size: 1.6rem;
}

.subtitle-footer {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    text-decoration: 0.2rem underline;
    text-transform: uppercase;
    font-weight: bolder;
}

.credit-cards-footer {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 1.5rem;
}

.fa-solid.fa-solid.fa-credit-card {
    font-size: 2rem;
}

.fa-brands.fa-cc-visa {
    font-size: 2rem;
}

.fa-brands.fa-cc-mastercard {
    font-size: 2rem;
}

.fa-brands.fa-cc-amex {
    font-size: 2rem;
}

.fa-brands.fa-cc-paypal {
    font-size: 2rem;
}

.fa-solid.fa-lock {
    font-size: 2rem;
    padding-bottom: 1rem;
}
.div-i-h4-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.div-btn-arrepentimiento{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
}
.button-footer-arrepentimiento {
    background-color: transparent;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    width: 70%;
    border: solid 0.2rem black;
    transition: all .2s ease;
}
.button-footer-arrepentimiento:hover{
    color: #bf930d;
    border: solid 0.2rem #bf930d; 
}
.button-footer-arrepentimiento:active{
    transform: scale(0.9);
}

.fa-solid.fa-envelope {
    font-size: 2rem;
}

.icons-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.a-footer-contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .2rem;
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
}

.fa-brands.fa-whatsapp {
    font-size: 1.6rem;
}

.fa-brands.fa-instagram {
    font-size: 1.6rem;
}

.copyright {
    padding: 1rem;
    font-size: 1.5rem;
    /* font: 30px 'sans-serif'; */
    /* color: #3a3a3ac6; */
    color: black;
}


h6 {
    width: 100%;
    text-align: center;
}

/* ----- Hover - Active -----  */

ul:active {
    a:active {
        text-decoration: underline;
    }
}

@media (min-width: 1024px) {
    #id-footer {
        background: linear-gradient(#399AA7 10%, #088192 21%, #055A66 65%);
    }

    .block-padre {
        border-top: 1em;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .subtitle-footer {
        font-size: 1rem;
    }

    .footer-block {
        width: 100%;
        display: flex;
        gap: 1.5rem;
        padding: 1.5rem 0;
        justify-content: center;
    }

    ul {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        gap: .8rem;
    }

    .li-info-footer {
        width: fit-content;
        text-align: center;
        transform: all 0.5s ease;
    }

    .a-info-footer {
        font-size: 1.2rem;
    }

    .footer-block2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        padding: 1.5rem 0;
        justify-content: center;
        align-content: flex-start;
    }

    .footer-block3 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        padding: 1.5rem 0;
        justify-content: center;
        align-content: flex-start;
    }
    .div-btn-arrepentimiento{
        padding: 1rem;
        width: 90%;
    }
    .button-footer-arrepentimiento {
        width: 100%;
        font-size: 1rem;
    }

    .footer-block4 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        padding: 1.5rem 0;
        justify-content: center;
        align-content: flex-start;
    }
    .candado-seguridad{
        display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
    }
    .div-i-h4-footer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .icons-footer{
        padding: 1.5rem;
        padding-left: 2.5rem;
    }
    .a-footer-contacto{
        font-size: 1rem;
    }
    .copyright{
        font-size: 1.2rem;
    }
    .button-footer-arrepentimiento{
        background-color: transparent;
        border: solid 0.2rem black;
        transition: all .2s ease;
    }
    .button-footer-arrepentimiento:hover{
        color: #bf930d;
        border: solid 0.2rem #bf930d;

    }
    .button-footer-arrepentimiento:active{
        transform: scale(0.9);
    }
}