.article-opinion-section{
    width: 100%;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.opinion-product{
    border: 3px solid black;
    border-radius: 5%;
    width: 90%;
    height: auto;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(#051218, #088192, #088192);
}

.description-opinion-article{
    border-top: 1px solid black;
    border-radius: 11px;
    width: 100%;
    height: auto;
    background: linear-gradient(#088192, #051218);
}

.title-opinion-product{
    padding: 5px 15px;
    color: #bf930d;
}

.value-opinion-product{
    padding: 5px 15px;
    color: #bf930d;
    font-weight: bold;
}

.description-opinion-product{
    font-weight: bold;
    padding: 5px 15px;
    text-transform: capitalize;
    color: #bf930d;
}

@media (min-width: 600px){

    .opinion-product{
        width: 40%;
    }

    .article-opinion-section{
        gap: 2rem;
    }

    .title-opinion-product{
        font-size: 22px;
    }
    .value-opinion-product{
        font-size: 16px;
    }
    .description-opinion-article{
        font-size: 15px;
    }
}

@media (min-width: 768px){

    .title-opinion-product{
        font-size: 24px;
    }

    .value-opinion-product{
        font-size: 20px;
    }

    .description-opinion-article{
        font-size: 17px;
    }
}

@media (min-width: 1024px){
    .opinion-product{
        width: 22%;
    }

    .title-opinion-product{
        font-size: 25px;
    }
    
    .value-opinion-product{
        display: flex;
        gap: 5px;
    }
}