.article-opinion-section{
    width: 100%;
    margin: .5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.opinion-product{
    border: .3rem solid black;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5%;
    background-color: aliceblue;
    background: linear-gradient(#051218, #088192, #088192);
}

.description-opinion-article{
    border-top: .1rem solid black;
    border-radius: 1.1rem;
    width: 100%;
    height: auto;
    background: linear-gradient(#088192, #051218);
}

.title-opinion-product{
    font-size: 2.5rem;
    padding: .5rem 1.5rem;
    color: #bf930d;
}

.value-opinion-product{
    padding: .5rem 1.5rem;
    color: #bf930d;
    font-weight: bold;
}

.btn-star{
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: #bf930d;
}

.description-opinion-product{
    font-size: 1.5rem;
    padding: .5rem 1rem;
    color: #bf930d;
    text-transform: capitalize;
}

@media (min-width: 600px){

    .opinion-product{
        width: 40%;
    }

    .article-opinion-section{
        gap: 2rem;
    }

    .title-opinion-product{
        font-size: 2.2rem;
    }
    .value-opinion-product{
        font-size: 1rem;
    }
    .description-opinion-product{
        font-size: 1.5rem;
    }
}

@media (min-width: 768px){

    .description-opinion-article{
        border-radius: .6rem;
    }

    .title-opinion-product{
        font-size: 2.4rem;
    }

    .value-opinion-product{
        font-size: 2rem;
    }

    .description-opinion-product{
        font-size: 1.7rem;
    }
}

@media (min-width: 1024px){
    .opinion-product{
        width: 22%;
    }

    .description-opinion-article{
        border-radius: .3rem;
    }

    .btn-star{
        font-size: 1.7rem;
    }

    .title-opinion-product{
        font-size: 1.5rem;
    }
    
    .value-opinion-product{
        display: flex;
        justify-content: space-evenly;
        padding: .5rem .5rem;
        font-size: 1.5rem;
        gap: 0 .15rem;
    }

    .description-opinion-product{
        font-size: 1rem;
    }
}