.div-register{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.div-reg-imgProd{
    align-items: center;
    text-align: center;
}
.div-prev-image{
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 6rem;
}
.input-reg-file{
    display: none;
}

.label-reg-file{
    height: 100px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: .2rem dashed #111;
}

.label-reg-file:hover{
    color: #BCAC79;
    border: 1px dashed #bf930d;
}

.txta-reg-desc{
    field-sizing: fixed;
    resize: none;
}

.btn-mas-menos:hover{
    background-image: linear-gradient(90deg, #D4AF37, #F8F4E6);
    color: black;
}

@media(min-width: 1024px){
    .div-register-addProd{
        width: 50%;
    }
    
    .div-prev-image{
        display: flex;
        width: 100%;
        height: max-content;
        gap: 1rem;
        flex-direction: row;
        justify-content: center;
    }
    .prev-image{
        border: .2rem black solid;
        padding: .2rem;
        border-radius: .4rem;
    }
}