#id-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #7f7452;
}

.footer-block{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px 0;
}

.truck-h4-fb1{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 40px;
    h4{
        font: 40px 'sans-serif';
        width: auto;
        text-transform: uppercase;
        font-weight: bolder;
    }
}

.credit-cards-footer{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.subtitle-footer{
    width: 100%;
    font: 40px 'sans-serif';
    text-align: center;
    text-decoration: 2px underline ;
    text-transform: uppercase;
    font-weight: bolder;
}

.icons-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    i{
        a{
            font: 45px 'sans-serif';
        }
    }
}

.copyright{
    padding-top: 50px;
    font: 30px 'sans-serif';
    color: #3a3a3ac6;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li{
        width: 100%;
        text-align: center;
        transform: all 0.5s ease;
        a{
            font: 40px 'sans-serif';
            text-decoration: none;
            color: black;
        }
    }
}

h6{
    width: 100%;
    text-align: center;
}

/* ----- Hover - Active -----  */

ul:active{
    a:active{
        text-decoration: underline;
    }
}