#id-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-bar-header{
    ul{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}