h1{
    visibility: hidden;
    width: 0;
    height: 0;
}

.banner-index{
    width: 100%;
    margin: 1rem 0;
    text-align: center;
    img{
        max-width: 40rem;
        width: 100%;
    }
}

.titulo{
    width: 100%;
    text-align: center;
    padding: .5rem 0 .5rem 0;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}