h1{
    visibility: hidden;
    width: 0;
    height: 0;
}

.banner-index{
    width: 100%;
    margin: 10px 0;
    text-align: center;
    img{
        max-width: 400px;
        width: 100%;
    }
}

.titulo{
    width: 100%;
    text-align: center;
    padding: 5px 0 5px 0;
    font-family: 23px 'Roboto', sans-serif;
    text-decoration: underline;
}

@media (min-width: 0px) and (max-width: 426px) {
    
}