.main-register{
    padding: 2rem;
}

.div-forms-register{
    padding: 1rem;
    border: 0.2rem solid black;
    border-radius: 1.5rem;
}
.forms-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.titulo-register{
    font-size: 2rem;
}

.label-register{
    font-weight: bold;
    font-size: 1.5rem;
}

.input-register{
    width: 100%;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.2rem solid black;
}
.div-button-register{
    display: flex;
    gap: 1.5rem;
}
.button-register-submit{
    padding: 0.5rem;
    border: 0.2rem solid black;
    border-radius: 0.3rem;
    font-size: 1.5rem;
}
.button-register-reset{
    padding: 0.5rem;
    border: 0.2rem solid black;
    border-radius: 0.3rem;
    font-size: 1.5rem;
}