.article-product-section{
    width: 90%;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px 0;
}

.article-product{
    border: 3px solid black;    
    width: 100%;
    height: auto;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(#051218, #088192, #088192);
    margin: 20px 0;
}

.img-article{
    width: auto;
    height: auto;
    padding: 15px;
}

.description-article{
    border-top: 1px solid black;
    width: 100%;
    height: auto;
    background: linear-gradient(#088192, #051218);
}

.title-article-product{
    font-size: 60px;
    padding: 5px 15px;
    color: #bf930d;
}

.precio-article{
    font-size: 45px;
    padding: 5px 15px;
    color: #bf930d;
    font-weight: bold;
}

.description-product{
    font-size: 30px;
    font-weight: bold;
    padding: 5px 15px;
    text-transform: capitalize;
    color: #bf930d;
}