.article-product-section{
    width: 90%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid red;
}

.article-product{
    width: 90%;
    height: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img-article{
    width: 90%;
    height: 50%;
}

.description-article{
    width: 100%;
    height: 50%;
    background-color: aqua;
}

.title-article-product{
    font-size: 23px;
    color: rgb(0, 46, 46);
}

.precio-article{
    font-size: 20px;
}

.description-product{
    font-size: 16px;
}