@import url(header.css);
@import url(footer.css);
@import url(section-article-product.css);
@import url(section-article-opinion.css);
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", Helvetica, Arial, sans-serif;
  font-size: 50px;
}

body{
  background-color: #BCAC79;
  width: 100%;
}

img{
  max-width: 400px;
  max-height: 400px;
}

ul{
  list-style: none;
}

main{
  width: 100%;
  height: auto;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .div-main{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

h2{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.banner-index{
  width: 100%;
  text-align: center;
  img{
    max-width: 800px;
    width: 800px;
  }
}