<article class="opinion-product">
    <img src="" alt="" class="img-article">
    <div class="description-opinion-article">
        <h3 class="title-article-product">Titulo producto</h3>
        <div class="value-opinion-product">
            <i>Star</i>
            <i>Star</i>
            <i>Star</i>
            <i>Star</i>
            <i>Star</i>
        </div>
        <p class="description-opinion-product">Descripcion Descripcion</p>
    </div>
</article>