<article class="article-product">
    <!-- <div class="div-img-articulo">
    </div> -->
    <img src=" <%- foto %> " alt="img-prod-art" class="img-article">
    <div class="description-article">
        <h3 class="title-article-product">Titulo producto</h3>
        <p class="precio-article">$9999</p>
        <p class="description-product">producto generado automaticamente para corroborar el funcionamiento de la pagina <br> aa<p>
    </div>
</article>