<article class="article-product">
    <img src="" alt="img-prod-art" class="img-article">
    <div class="description-article">
        <h3 class="title-article-product">Titulo producto</h3>
        <p class="precio-article">$9999</p>
        <p class="description-product">Lalala</p>
    </div>
</article>