<footer id="id-footer">
    <div class="footer-block-1">
        <i></i>
        <h4>Informacion</h4>
        <nav>
            <ul>
                <a href="#"><li>Ayuda</li></a>
                <a href="#"><li>Quienes Somos</li></a>
                <a href="#"><li>Politicas de privacidad</li></a>
                <a href="#"><li>Politicas de devolución</li></a>
                <a href="#"><li>Preguntas Frecuentes (FAQ)</li></a>
            </ul>
        </nav>
    </div>
    <div class="footer-block-2">
        <i></i>
        <h4>Medios de pago</h4>
            <i></i>
            <i></i>
            <i></i>
    </div>
    <div class="footer-block-3">
        <i></i>
        <h4>Compra con seguridad</h4>
    </div>
    <div class="footer-block-4">
        <i></i>
        <h4>Contacto</h4>
        <i><a href="#"></a></i>
        <i><a href="#"></a></i>
        <i><a href="#"></a></i>
    </div>
    <h6>copyrigth</h6>
</footer>