<footer id="id-footer">
    <div class="footer-block-1">
        <i class="fa-solid fa-truck-fast"></i>
        <h4>Enviamos tu compra</h4>
        <h4>Informacion</h4>
        <nav class="nav-footer">
            <ul class="ul-footer">
                <a href="#"><li>Ayuda</li></a>
                <a href="#"><li>Quienes Somos</li></a>
                <a href="#"><li>Politicas de privacidad</li></a>
                <a href="#"><li>Politicas de devolución</li></a>
                <a href="#"><li>Preguntas Frecuentes (FAQ)</li></a>
            </ul>
        </nav>
    </div>
    <div class="footer-block-2">
        <i class="fa-solid fa-credit-card"></i>
        <h4>Medios de pago</h4>
        <i class="fa-brands fa-cc-visa"></i>
        <i class="fa-brands fa-cc-mastercard"></i>
        <i class="fa-brands fa-cc-paypal"></i>
    </div>
    <div class="footer-block-3">
        <i class="fa-solid fa-lock"></i>
        <h4>Compra con seguridad</h4>
        <button>ARREPENTIMIENTO DE COMPRA</button>
    </div>
    <div class="footer-block-4">
        <i class="fa-solid fa-envelope"></i>
        <h4>Contacto</h4>
        <i class="fa-solid fa-phone"> <a href="02320-440423">02320-440423 </a> </i>
        <i class="fa-brands fa-whatsapp"> <a href="+54 1155603341"> +54 1155603341</a></i>
        <i class="fa-brands fa-instagram"><a href="@ManaJunkieStore">@ManaJunkieStore</a></i>
    </div>
    <h6>copyrigth</h6>
</footer>