<header id="id-header">
    <div class="img-logo">
        <img src="/mjs/public/images/logoMJS.jpeg" alt="Mana Junkie Store">
    </div>
    <nav class="nav-bar-header">
        <ul>
            <li>Productos</li>
            <li>Servicios</li>
            <li>Categorías</li>
            <li>Armá Tu PC</li>
        </ul>
    </nav>
    <div class="barra-icon-busqueda">
        <label for="barra-busqueda"></label>
        <input type="text" id="barra-busqueda" placeholder="Placas de video...">
        <button class="lupa"><i>search</i></button>
    </div>
    <div class="user-button">
        <button><i>Carro</i></button>
        <button>Ingresar</button>
        <button>Registrarse</button>
        <i>Icono usuario</i>
    </div>
</header>