<header id="id-header">
    <div class="img-logo-div">
        <img src="<%- foto %>" alt="MJS Foto" class="img-logo">
    </div>
    <nav class="nav-bar-header">
        <ul>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Categorías</a></li>
            <li><a href="#">Armá Tu PC</a></li>
        </ul>
    </nav>
    <div class="barra-icon-busqueda">
        <label for="barra-busqueda"></label>
        <input type="text" id="barra-busqueda" placeholder="Placas de video...">
        <i class="fa-brands fa-sistrix"><button class="lupa"></button></i>
    </div>
    <div class="user-button">
        <i class="fa-solid fa-cart-plus"><button></button></i>        <!--  class="carrito-button-icon"-->
        <button class="login-button">Ingresar</button>
        <button class="register-button">Registrarse</button>
        <i class="fa-regular fa-circle-user"><button class="user-button-icon"></button></i>
    </div>
    <div class="burguer-button">
        <i class="fa-solid fa-bars"><button></button></i>
    </div>
</header>