<header id="id-header">
    <div class="img-logo-div">
        <img src="<%- foto %>" alt="MJS Foto" class="img-logo">
    </div>
    <nav class="nav-bar-header">
        <ul>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Categorías</a></li>
            <li><a href="#">Armá Tu PC</a></li>
        </ul>
    </nav>
    <div class="barra-icon-busqueda">
        <label for="barra-busqueda"></label>
        <input type="text" id="barra-busqueda" placeholder="Placas de video...">
        <div class="lupa">
            <button><i class="fa-brands fa-sistrix"></i></button>
        </div>
    </div>
    <div class="user-button">
        <div class="lupa">
            <button><i class="fa-solid fa-cart-plus"></button></i>        <!--  class="carrito-button-icon"-->
        </div>
        <button class="login-button ingresar">Ingresar</button>
        <button class="register-button registrar">Registrarse</button>
        <button class="user-button-icon"><i class="fa-regular fa-circle-user"></i></button>
    </div>
    <div class="burguer-button">
        <button><i class="fa-solid fa-bars"></i></button>
    </div>
</header>