<header id="id-header">
        <img src="<%- foto %>" alt="MJS Foto" class="img-logo">
    <nav class="nav-bar-header">
        <ul>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Categorías</a></li>
            <li><a href="#">Armá Tu PC</a></li>
        </ul>
    </nav>
    <div class="burguer-button">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="barra-icon-busqueda">
        <label for="barra-busqueda"></label>
        <input type="text" id="barra-busqueda" placeholder="Placas de video...">
        <button class="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div class="user-button">
        <button><i class="fa-solid fa-cart-plus"></i></button>
        <button>Ingresar</button>
        <button>Registrarse</button>
        <i class="fa-regular fa-circle-user"></i>
    </div>
</header>