<div class="btn-mas-menos-carrito">
    <div class="btn-proDet-border">
        <button class="btn-mas-menos sumar">
            <span>-</span>
        </button>
        <p class="num-carrito">1</p>
        <button class="btn-mas-menos reducir">
            <span>+</span>
        </button>
    </div>
</div>