<header id="id-header">
    <div class="img-logo-div">
        <a href="/"><img src="/images/logoMJS.jpeg" alt="MJS Foto" class="img-logo"></a>
    </div>
    <nav class="nav-bar-header">
        <ul>
            <li><a href="/admin">Productos</a></li>
            <!-- <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li> -->
        </ul>
    </nav>

    <!-- <div class="barra-icon-busqueda">

        <label for="barra-busqueda"></label>
        <input type="search" id="barra-busqueda" placeholder="Placas de video...">
        <button class="btn-header btn-lupa"><i class="fa-brands fa-sistrix"></i></button>

    </div> -->
    <div class="user-button">
        <div class="lupa">
            <!-- <a href="/carrito">
                <button class="btn-header"><i class="fa-solid fa-cart-plus"></button></i>
            </a> -->
        </div>
        <!-- <a href="/users/login">
            <button class="btn-header login-button" id="ingresar">Ingresar</button>
        </a> -->
        <a href="/users/profile/<%= usuarioLogueado.id %>">
            <button class="btn-header register-button" id="registrar">Perfil De Usuario</button>
        </a>
        <button class="btn-header-admin user-button-icon"><i class="fa-solid fa-user"></i></button>
    </div>
    <div class="burguer-button">
        <button class="btn-header"><i class="fa-solid fa-bars"></i></button>
    </div>
</header>