<article class="opinion-product">
    <img src="<%- foto %>" alt="img-prod-op" class="img-article">
    <div class="description-opinion-article">
            <a href=" <%- productDetail %> ">
                <h3 class="title-opinion-product h3-username">Username</h3>
                <h3 class="title-opinion-product">Titulo producto</h3>
                <div class="value-opinion-product">
                    <button class="btn-star"><i class="fa-regular fa-star"></i></button>
                    <button class="btn-star"><i class="fa-regular fa-star"></i></button>
                    <button class="btn-star"><i class="fa-regular fa-star"></i></button>
                    <button class="btn-star"><i class="fa-regular fa-star"></i></button>
                    <button class="btn-star"><i class="fa-regular fa-star"></i></button>
                </div>
            <p class="description-opinion-product">Descripcion Descripcion</p>
        </a>    
    </div>
</article>