<footer id="id-footer">
    <h5 class="subtitle-footer">Informacion</h5>
    <div class="footer-block">
        <nav class="nav-footer-info">
            <ul>
                <li class="li-info-footer"><a href="#" class="a-info-footer">Ayuda</a></li>
                <li class="li-info-footer"><a href="#" class="a-info-footer">Quienes Somos</a></li>
                <li class="li-info-footer"><a href="#" class="a-info-footer"><li>Politicas de privacidad</a></li>
                <li class="li-info-footer"><a href="#" class="a-info-footer"><li>Politicas de devolución</a></li>
                <li class="li-info-footer"><a href="#" class="a-info-footer"><li>Preguntas Frecuentes (FAQ)</a></li>
            </ul>
        </nav>
    </div>
    <div class="block-padre">
        <div class="footer-block2">
            <div class="truck-h4-fb1">
                <i class="fa-solid fa-truck-fast"></i>
                <h4 class="subtitle-footer">Enviamos tu compra</h4>
            </div>
        </div>
        <div class="footer-block3">
            <div class="truck-h4-fb1">
                <i class="fa-solid fa-credit-card"></i>
                    <h4 class="subtitle-footer">Medios de pago</h4>
            </div>
            <div class="credit-cards-footer">
                <i class="fa-brands fa-cc-visa"></i>
                <i class="fa-brands fa-cc-mastercard"></i>
                <i class="fa-brands fa-cc-amex"></i>
                <i class="fa-brands fa-cc-paypal"></i>
            </div>
        </div>
        <div class="footer-block4">
            <div class="candado-seguridad">
                <div class="div-i-h4-footer">
                    <i class="fa-solid fa-lock"></i>
                    <h4 class="subtitle-footer">Compra con seguridad</h4>
                </div>
                <div class="div-btn-arrepentimiento">
                    <button class="button-footer-arrepentimiento">
                        BOTON DE ARREPENTIMIENTO
                    </button> 
                </div>
            </div>
        </div>
        <div class="footer-block5">
            <div class="truck-h4-fb1">
                <i class="fa-solid fa-envelope"></i>
                <h4 class="subtitle-footer">Contacto</h4>
            </div>
            <div class="icons-footer">
                <a href="#" class="a-footer-contacto"><i class="fa-solid fa-phone "></i>02320-440423</a>
                <a href="#" class="a-footer-contacto"><i class="fa-brands fa-whatsapp"></i>+54911-7611-7690</a>
                <a href="#" class="a-footer-contacto"><i class="fa-brands fa-instagram"></i> @manaJunkieStore.ok</a>
            </div>
        </div>
    </div>
    <h6 class="copyright"><i class="fa-solid fa-copyright"></i> 2024-2025. Mana Junkie Store <br> Todos los derechos reservados.</h6>
</footer>