<!DOCTYPE html>
<html>
  <%- include('partial/head') %>
  <body>
    <%- include('partial/header') %>
    <main>
      <h1><%= title %></h1>
      <div class="banner-index">
        <img src="" alt="banner">
      </div>
      <div>
      <section>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
      </section>
      <h4>Opiniones de nuestros clientes</h4>
      <section>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
      </section>
    </div>
    </main>
    <%- include('partial/footer') %>
  </body>
</html>
