<!DOCTYPE html>
<html>
    <%- include('partial/head') %>
    <body>
        <%- include('partial/header') %>
        <main>
            <div class="div-form-login">
                <form action="" method="get" class="forms-login">
                <h2>iniciar sesion</h2>
                <label for="correo">ingrese su correo</label>
                <input type="email" placeholder="ingrese su correo" name="correo" id="correo">
                <label for="password">ingrese su contrase単a</label>
                <input type="password" name="password" placeholder="contrase単a" id="password">
                <a href="#">多No tenes cuenta? Registrate </a>
                <a href="#">Olvide mi contrase単a </a>
                <button type="submit">inciar sesion</button>
            </form>
            </div>
        </main>
        <%- include('partial/footer') %>
    </body>
</html>