    /* CONTENEDOR PRINCIPAL QUE ABARCA TODO  */
.box-producto-descripcion{
    width: 90%;
    position: relative;
    margin: 1rem 0;
    padding: 1rem 1rem;
    /* border: 0.1rem solid black; */
}

/* BOX DE LAS IMAGENES  */

.producto-precio{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(90deg, #053944, #0A5C68, #088192);
    border: .2rem solid black;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.img-principal-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper{
    width: 25rem;
    padding: .5rem;
}

.icon-heart{
    position: absolute;
    top: 2rem;
    left: 2.6rem;
    border-radius: 2rem;
    padding: 0.3rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    background-color: #eac1c1;
}

.box-img-producto{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-right: .1rem solid black ;
}

.slider-box-img{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: .2rem solid #051218;
}

.slider-box-img-min{
    border: .2rem solid black;
    padding: .2rem;
}

.slider-box-img img{
    max-width: 4rem;
    height: auto;
    margin: 0.3rem 0;
    border-radius: 0.5rem;
}

        /* BOX DE TITULO PRECIO CANTIDAD  */

.title-product-detail{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.box-precio-calificacion{
    width: 100%;
    margin: 1rem 0;
}

.box-precio-calificacion p{
    width: fit-content;
}

.precio-descuento{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.price{
    font-size: 2rem;
}
.discount{
    font-size: 1.6rem;
    text-align: center;
    color: #ececec;
}

.compra-agregar-carrito{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.div-agregar-comprar{
    width: 100%;
    display: flex;
    padding: .5rem 0;
    justify-content: space-around;
}

    /* BOTON MAS MENOS CARRITO  */

.btn-mas-menos-carrito{
    display: flex;
    justify-content: center;
    padding: .5rem 0;
}

.btn-proDet-border{
    width: fit-content;
    display: flex;
    border: .2rem solid black;
    border-radius: .7rem;
}
.num-carrito{
    width: fit-content;
    padding: .5rem 2rem;
    font-size: 1.7rem;
    background-color: #ececec;
}
.btn-mas-menos{
    /* width: 1.5rem; */
    border: 0;
    background-image: linear-gradient(150deg,  #BCAC79, #0A5C68, #051218);
    border-radius: .5rem;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: .2rem;
    cursor: pointer;
    transition: .3s;
}
.btn-mas-menos span{
    background-color: #111;
    padding: .4rem .5rem;
    border-radius: .5rem;
    transition: .2s;
}

.btn-mas-menos:hover span{
    background: none;
}

.btn-mas-menos:active{
    transform: scale(0.9);
}

/* --------------------------------------- */

.box-calificar-producto{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.box-calificar-producto p{
    width: fit-content;
    font-size: 1.5rem;
}

.stars-icon{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
}
.stars-icon i{
    width: fit-content;
    text-wrap-mode: nowrap;
    cursor: pointer;
}

/* DESCRIPCION  */

.descripcion-producto-detail{
    width: 100%;
    height: auto;
    background: linear-gradient(120deg, #A99A6C, #95855F, #80724E, #6C5F40);
    border: 0.1rem solid #053944;
    border-radius: 1rem;
}

.especificaciones{
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 900;
}

.box-texto-especificacion{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    border-bottom: .3rem dotted black;
}
.box-txt-spec-none-border{
    border-bottom: none;
}

.title-detail{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 900;

}

.texto-detail{
    width: 100%;
    text-align: justify;
    font-size: 1.2rem;
}

    /* MEDIA QUERIES  */

@media (min-width: 375px){
    .icon-heart{
        left: 4.7rem;
    }
}

@media (min-width: 425px){
    .icon-heart{
        left: 7.4rem;
    }
}

@media (min-width:600px){
    .producto-precio{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .box-img-producto{
        width: 40%;
    }
    .slider-box-img{
        border-bottom: none;
    }
    .box-precio-calificacion{
        width: 60%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .descripcion-producto-detail{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .especificaciones{
        width: 100%;
        font-size: 2rem;
    }
    .box-texto-especificacion{
        /* width: 32%; */
        border-bottom: 0;
        padding-right: 1rem;
        /* border-right: .2rem dotted black; */
    }
    .box-txt-spec-none-border{
        border-right: none;
    }
    .txt-d-1{
        padding: 1.3rem;
    }
    .icon-heart{
        left: 2.1rem;
    }
}