.article-product-section{
    width: 100%;
    margin: .5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.article-product{
    border: .2rem solid black;   
    border-radius: 5%; 
    width: 90%;
    height: auto;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(#051218, #088192, #088192);
}

.img-article{
    width: 75%;
    height: auto;
    padding: .5rem 0;
}

.description-article{
    border-top: .1rem solid black;
    border-radius: 1.1rem;
    width: 100%;
    height: 30rem;
    background: linear-gradient(#088192, #051218);
}

.title-article-product{
    font-size: 2.5rem;
    padding: .5rem 1rem;
    color: #bf930d;
}

.precio-article{
    font-size: 2rem;
    padding: .5rem 1.5rem;
    color: #bf930d;
    font-weight: bold;
}

.description-product{
    font-size: 1.5rem;
    padding: .5rem 1rem;
    text-transform: uppercase;
    color: #bf930d;
}
.div-btn-see-more{
    display: flex;
    flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 3rem;
}
.btn-see-more{
    text-decoration: none;
    color: gold;
    font-size: 2rem;
}

@media (min-width: 600px){
    .article-product{
        width: 40%;
    }

    .article-product-section{
        gap: 2rem;
    }

    .title-article-product{
        font-size: 2.5rem;
    }
}

@media (min-width: 768px){

    .img-article{
        width: 80%;
        padding: 1rem 0;
    }

    .title-article-product{
        font-size: 2.4rem;
    }

    .precio-article{
        font-size: 1.8rem;
    }

    .description-product{
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px){
    .article-product{
        width: 22%;
    }
    .title-article-product{
        font-size: 1.5rem;
    }
    .precio-article{
        font-size: 1.3rem;
    }
    .description-article{
        height: 20rem;
    }
    .description-product{
        font-size: 1rem;
    }
    .div-btn-see-more{
        margin-top: .3rem;
    }
    .btn-see-more{
        font-size: 1.3rem;
    }
}